.row
  form(ng-submit="searchForecast(search.state, search.city)")
    input.form-control.u-full-width(type='text' placeholder="City", ng-model="search.city")
    input.form-control.u-full-width(type='text' placeholder="State", ng-model="search.state")
    button Search
.col-md-4
  .today-forecast.text-center
    h3 {{conditions.location}}
    p {{conditions.weather}}
    p {{conditions.temp}}
  .daily-forecast(ng-repeat="day in dailyForecast")
    p {{day.date.monthname_short}} {{day.date.day}}
    p.forecast-weekday {{day.date.weekday_short}}
    img.forecast-pic(src="{{day.icon_url}}")
    p.forecast-info {{day.high.fahrenheit}} F
    p.forecast-info {{day.low.fahrenheit}} F
  
  
//  .city.row.text-center
//  .monthDay.row.text-center {{city.simpleforecast.forecastday.date.monthname_short}} {{city.simpleforecast.forecastday.date.day}}, {{city.simpleforecast.forecastday.date.year}}
//  .cond.row.text-center 
//  .currentTemp.row.text-center
//  .forecast.row
//    .row.days(ng-repeat="day in city.simpleforecast.forecastday")
//      .day.col-xs-2 {{day.date.weekday_short}}
//      .icon.col-xs-2 {{day.icon_url}}
//      .tHigh.col-xs-2 {{day.high.fahrenheit}} {{day.high.celsius}}
//      .tLow.col-xs-2 {{day.low.fahrenheit}} {{day.low.celsius}}
//      .humidity.col-xs-4 {{day.avehumidity}}
//      .avewind.col-xs-4 {{day.avewind.mph}} {{day.avewind.kph}}
//      .winddirection.col-xs-4 {{day.avewind.dir}}